<!DOCTYPE html>
<html>
<head>
    <title>3V Phone</title>
</head>
<body>

<h1>🛒 SHOP ONLINE</h1>

<a href="/logout">Logout</a>

<hr>

{% if session.get("role") == "admin" %}

<h3>➕ Thêm sản phẩm</h3>

<form action="/add" method="POST" enctype="multipart/form-data">
    <input name="name" placeholder="Tên">
    <input name="price" placeholder="Giá">
    
    <input type = "file" name="image" >
    <button>Thêm</button>
</form>

{% endif %}

<hr>

<form method="GET" action="{{ url_for('home') }}">
    <input type="text" name="q" placeholder="Tên sản phẩm">

    <input type="number" name="min_price" placeholder="Giá từ">

    <input type="number" name="max_price" placeholder="Giá đến">

    <button type="submit">Tìm kiếm</button>
</form>

<h2>📦 Sản phẩm</h2>

{% for p in products %}
<div style="border:1px solid black; padding:10px; margin:10px;">

    <img src="{{ url_for('static', filename=p.image) }}" width="120">
    <b>{{ p.name }}</b><br>
    {{ p.price | vnd }} VNĐ

    {% if session.get("role") == "admin" %}

    <form action="/update/{{ p.id }}" method="POST" enctype="multipart/form-data">
        <input name="name" placeholder="new name">
        <input name="price" placeholder="new price">
        <input type="file" name="new image">
        <button>Sửa</button>
    </form>

    <a href="/delete/{{ p.id }}">Xóa</a>

    {% endif %}

</div>
{% endfor %}

</body>
</html>